$color-background-body: #faf9f7;
$color-background-primary: #fffefb;
$color-background-active: #ff8484;
$color-background-active-hover: #ff9999;
$color-background-modal: rgba(255, 255, 255, .8);
$color-font-main: #3f3f3f;
$color-font-light: #fff;
$color-font-disabled: #b4b4b4;
$color-font-placeholder: #b4b4b4;
$color-secondary: #1e88e5;
$color-outline: #ccc;
$color-background-success: #7bae73;
$color-background-disabled: #eee;
$color-background-success-hover: #84bf7a;