@use './fonts';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
}

h1 {
  color: blue;
}